body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container{
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
}

.tasksinput{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
}

.btn{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
.list{
   list-style: none;
   padding: 0;
}
.listsub{
    border-bottom: 1px solid rgba(101, 98, 98, 0.347);
    padding-top: 15px;
  
}
@media screen and (max-width:767px){
    .container{
        width: 250px;
    }
}
